.fe-autocomplete .normal-position {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    -webkit-transform: none;
    transform: none;
}

.fe-autocomplete .fade-enter-active, .fe-autocomplete .fade-leave-active {
    transition: opacity .5s ease;
}

.fe-autocomplete .fade-enter, .fe-autocomplete .fade-leave-to {
    opacity: 0;
}
