.fe-dropdown {
    @apply block;
    @apply align-top;

    .dropdown-menu {
        @apply hidden;
    }

    &.is-xs {
        @apply text-xs;
    }

    &.is-sm {
        @apply text-sm;
    }

    &.is-md {
        @apply text-base;
    }

    &.is-lg {
        @apply text-lg;
    }

    &.opened .dropdown-menu {
        @apply block;
        @apply z-20;
        @apply pt-1;
    }

    &.opened .dropdown-content {
        @apply bg-white;
        @apply rounded;
        @apply border;
        @apply border-gray-400;
        @apply shadow;
        @apply py-2;
    }

    &.opened .dropdown-menu .dropdown-content {
        a.dropdown-item, span.dropdown-item {
            @apply text-gray-800;
            @apply block;
            @apply leading-normal;
            @apply py-1;
            @apply px-4;
            @apply relative;

            &:hover {
                @apply bg-gray-200;
                @apply cursor-pointer;
            }
        }
    }

    @responsive {
        .white-backdrop {
            @apply opacity-0;
        }

        .gray-backdrop {
            background-color: hsla(0, 0%, 8%, .90);
        }

        .normal-position {
            @apply absolute;
            @apply inset-auto;
            transform: none;
        }

        .center-position {
            @apply fixed;
            transform: translate3d(-50%, -25%, 0);
            top: 25%;
            left: 50%;
        }
    }
}
