.fe-input-wrapper {
    @apply relative;
    @apply text-left;
    @apply border;
    @apply border-gray-400;
    @apply rounded;
    @apply bg-white;
    @apply items-center;
    @apply justify-start;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.06);

    &:hover:not(.disabled) {
        @apply border-gray-500;
    }
    &.disabled {
        @apply border-gray-200;
        & ,input, textarea {
            @apply bg-gray-200;
            @apply shadow-none;
            @apply cursor-not-allowed;
        }
    }

    &:not(.has-icon-before) .fe-input {
        @apply pl-2;
    }

    //focus-within is not currently supported in IE and IE-Edge
    &:focus-within {
        @apply outline-none;
        box-shadow: 0 0 0 0.05em theme('colors.blue.600');
    }

    .fe-input {
        @apply appearance-none;
        @apply block;
        @apply max-w-full;
        @apply w-full;


        &:focus, &:active {
            @apply outline-none;
            & + span.icon {
                @apply text-gray-700;
            }
        }

        &.is-xs {
            margin: 0.05rem 0;
            @apply text-xs;
        }

        &.is-sm {
            margin: 0.15rem 0;
            @apply text-sm;
        }

        &.is-md {
            @apply my-1;
            @apply text-base;
        }

        &.is-lg {
            @apply my-2;
            @apply text-lg;
        }
    }

    .icon {
        @apply h-full;
        @apply p-2;
    }

    &.has-icon-before .icon, &.has-icon-after .icon {
        @apply text-gray-400;
        @apply pointer-events-none;
        @apply absolute;
        @apply top-0;
        &.is-left {
            left: 0;
        }

        &.is-right {
            right: 0;
        }
    }

    &.has-icon-before {
        @apply pl-8;
    }

    &.has-icon-after {
        @apply pr-8;
    }

    textarea.fe-input {
        min-height: 6rem;
    }
}

