.fe-modal-header, .fe-modal-footer {
    min-height: 3rem;
}
.fe-modal .fade-enter-active, .fe-modal .fade-leave-active {
    transition: opacity .5s ease;
}

.fe-modal .fade-enter, .fe-modal .fade-leave-to {
    opacity: 0;
}
