.fe-single-select.is-xs:not(.expanded) {
    width: 240px;
}

.fe-single-select.is-sm:not(.expanded) {
    width: 280px;
}

.fe-single-select.is-md:not(.expanded) {
    width: 320px;
}

.fe-single-select.is-lg:not(.expanded) {
    width: 360px;
}

.fe-single-select .dropdown-content {
    margin-top: .15rem;
}

.fe-single-select .dropdown-content-items-wrapper {
    max-height: 275px;
}

.fe-single-select.is-xs .dropdown-content-items-wrapper {
    width: 238px;
}

.fe-single-select.is-sm .dropdown-content-items-wrapper {
    width: 278px;
}

.fe-single-select.is-md .dropdown-content-items-wrapper {
    width: 318px;
}

.fe-single-select.is-lg .dropdown-content-items-wrapper {
    width: 358px;
}

@media (min-width: 768px) {
    .fe-single-select .md\:normal-position {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        -webkit-transform: none;
        transform: none;
    }
}

.singleselect-center-position {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.fe-single-select .fade-enter-active, .fe-single-select .fade-leave-active {
    transition: opacity .2s ease;
}

.fe-single-select .fade-enter, .fe-single-select .fade-leave-to {
    opacity: 0;
}
